*.log*
*.swp
test
*.o
pan*
*.trail
.vscode/
**/.DS_Store
**/test_script*
**/__pycache__*
log.txt
.gdb_history
*.a
absfs
example
replay
*.ko
*.mod.*
*.mod
modules.order
Module.symvers
.*.cmd
*.csv
parameters.pml
ckpt
restore
crmfs
