*.log*
*.swp
test
*.o
pan*
*.trail
.vscode/
**/.DS_Store
**/test_script*
**/__pycache__*
log.txt
.gdb_history
*.a
absfs
example
replay
*.ko
*.mod.*
*.mod
modules.order
Module.symvers
.*.cmd
*.csv
parameters.pml
ckpt
restore
crmfs
*.so
.pml_tmp
*.img
gcov_results/
*.info
absfs_test
driver
reproducer
*.gcno
*.gcda
*.gcov
.brd.o.d 
replay
replay_dump
min_repro
lsof-pan*.txt
# Swarm verification
script[0-9]*
script[0-9]*.err
script[0-9]*.out
mcfs-main.pml.swarm
swarm_done_s*
# FAST24 Artifact Evaluation
*.pdf
results_perf_*
